<div>
  <h1><%= @project.title %></h1>

  <p><%= @project.description %></p>

  <div class="phases-list">
    <h2>Phases</h2>
    <ul>
      <% @project.phases.each do |phase| %>
        <li>
          <%= link_to phase.title, project_phase_path(@project) %> 
        </li>
      <% end %>
    </ul>

      <%= link_to "+ New Phase", new_project_phase_path(@project), class: "btn btn-primary" %>
  </div>

  <%= link_to "Edit Project Details", edit_project_path(@project) %> | 
  <%= link_to "Back to Projects", projects_path %>
</div>
