<div class="p-4">
  <h1 class="text-3xl font-bold mb-4"><%= @project.title %></h1>

  <p class="mb-8"><%= @project.description %></p>

  <div class="phases-list">
    <h2 class="text-lg font-bold mb-4">Phases</h2>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <% @project.phases.each do |phase| %>
      <%= link_to project_phase_path(@project) do %>
        <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition duration-300 ease-in-out">
          <div class="px-6 py-4">
            <p class="font-bold text-xl mb-2"><%= phase.title %></p>

            <ul class="m-3">
              <% phase.action_items.each do |item| %>
                  <%= link_to project_phase_action_item_path(@project, phase) do %>
                  <p class="font-medium text-xl mb-2"><%= item.title %></p>
                  <% end %>
              <% end %>
            </ul>

          </div>
        </div>
      <% end %>
    <% end %>

    <%= link_to "+ New Phase", new_project_phase_path(@project), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-block" %>
  </div>

  <div class="mt-8">
    <%= link_to "Edit Project Details", edit_project_path(@project), class: "bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded inline-block mr-4" %> 
    <%= link_to "Back to Projects", projects_path, class: "bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded inline-block" %>
  </div>
</div>
