<div class="px-4 py-2">
  <p class="text-sm text-gray-500">[Find me in app/views/action_items/_index.html.erb]</p>
  
  <ul class="mt-4 space-y-2">
    <% @action_items.each do |action_item| %>
      <li class="border border-gray-200 rounded-md p-4">
        <h2 class="text-lg font-medium mb-2"><%= action_item.title %></h2>
        <p class="text-gray-500"><%= action_item.description %></p>

        <div class="mt-4">
          <%= link_to "Edit Item", edit_project_phase_action_item_path(@project, @phase, action_item), class: "text-indigo-600 hover:text-indigo-700 mr-4" %>
          <%= link_to "Delete Item", project_phase_action_item_path(@project, @phase, action_item), method: :delete, data: { confirm: "Are you sure you want to delete this item permanently?" }, class: "text-red-600 hover:text-red-700" %>
        </div>
      </li>
    <% end %>
  </ul> 

  <div class="mt-4">
    <%= link_to "+ New Action Item", new_project_phase_action_item_path(@project, @phase), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block" %>
  </div>
</div>
