<div>
  <h1>Phase</h1>

  <p><strong>Name:</strong> <%= @phase.title %></p>
  <p><strong>Description:</strong> <%= @phase.description %></p>
  <p><strong>Due Date:</strong> <%= @phase.due_date %></p>
  <p><strong>Completed:</strong> 
  <% if @phase.completed  === false %>
    Not yet completed.
  <% else %>
    Check. This is complete.
  <% end %>
  </p>
  

  <%= link_to "Edit Phase Details", edit_project_phase_path(@project, @phase) %> | 
  <%= link_to "Back to " + @project.title, project_path(@project) %> 
</div>
